#shapka {
    text-align: center;
}
.cytata {
    font-style: italic;
    font-size: 14pt;
}
body{
   margin: 0 27% 0 27%;
      }

.underline {
    text-decoration: underline;
    }

.underline_two {
    text-decoration: underline;
    font-style: italic;
}

p.one {
    font-style: italic;
    text-align: center;
}

p.two {
    font-style: italic;
    text-align: right;
}

.ris1 {
    float: left;
    margin: auto 10px auto auto;
}

.ris2 {
text-align: center;
}